﻿@model Index.Aduana.Entities.Materia

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Codigo<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control", @placeholder = "Código de la Materia Prima", required = "required", autocomplete = "off", autofocus = "autofocus", @tabindex = 1 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">       
        <div class="form-group">
            <label class="control-label">
                Nombre<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre de la Materia Prima", required = "required", autocomplete = "off", @tabindex = 2 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Descripci&oacute;n<span class="symbol required"></span>
            </label>
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Descripción de la Materia Prima", required = "required", autocomplete = "off", @tabindex = 3 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Barra<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Barra, new { @class = "form-control", @placeholder = "Barra de la Materia Prima", required = "required", autocomplete = "off", @tabindex = 4 })
        </div>        
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Partida<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Partida, new { @class = "form-control", @placeholder = "Partida de la Materia Prima", required = "required", autocomplete = "off", @tabindex = 5 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>Unidades de Medida</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Unidad<span class="symbol required"></span>
            </label>
            @Html.DropDownList("UnidadId", (SelectList)ViewBag.Unidades, "--Seleccione una Unidad--", new { @class = "form-control search-select required", @tabindex = 6 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>Cuentas</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Cuenta<span class="symbol required"></span>
            </label>
            @Html.DropDownList("CuentaId", (SelectList)ViewBag.Cuentas, "--Seleccione una Cuenta--", new { @class = "form-control search-select required", @tabindex = 7 })
        </div>
    </div>
</div>
