﻿@model Index.Aduana.Entities.Usuario

@{
    ViewBag.Title = "Editar Usuario";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Editar Usuario
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h2><i class="icon-edit-sign teal"></i> Editar Usuario</h2>
                <p>
                    Editar un usuario.
                </p>
                <hr>
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                        <input type="hidden" id="UsuarioId" name="UsuarioId" value="@Html.Raw(Model.UsuarioId)" />
                    </div>
                    @Html.Partial("_CreateOrEdit")
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                                <button data-style="slide-down" class="btn btn-med-grey btn-block ladda-button" type="submit" tabindex="13">
                                    <span class="ladda-label"> Aceptar </span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-progress" style="width: 0px;"></span>
                                </button>
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Usuario")" tabindex="14">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/mustache.js"></script>
    <script type="text/html" id="rol_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="rolesIds" value="{{id}}" />
            </td>
        </tr>
    </script>
    <script type="text/html" id="cliente_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="clientesIds" value="{{id}}" />
            </td>
        </tr>
    </script>

    <script type="text/javascript">

        var rolesSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.RolesIds))');       
        var clientesSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.ClientesIds))');

        $(function ()
        {
            function error(texto)
            {
                toastr.error(texto);
            }

            function cargaRol(id, nombre)
            {
                var plantilla = $('#rol_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#rol_tbody').append(filaHtml);
            }          

            function cargaCliente(id, nombre)
            {
                var plantilla = $('#cliente_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#cliente_tbody').append(filaHtml);
            }

            renderizarRolesIniciales();            
            renderizarClientesIniciales();

            $('#btn-agregar').click(function (e)
            {
                e.preventDefault();

                var id = $('#RolId').val()
                var nombre = $('#RolId option:selected').text()

                if (id === "") {
                    error("Seleccione un rol");
                    return;
                }

                if (nombre === "") {
                    error("Seleccione un rol");
                    return;
                }

                cargaRol(id, nombre);

                $("#RolId").val(0);
                $("#RolId").focus();
            });

            $('#btn-agregar-cliente').click(function (e)
            {
                e.preventDefault();

                var id = $('#ClienteId').val()
                var nombre = $('#ClienteId option:selected').text()

                if (id === "")
                {
                    error("Seleccione un cliente");
                    return;
                }

                if (nombre === "")
                {
                    error("Seleccione un cliente");
                    return;
                }

                cargaCliente(id, nombre);

                $("#ClienteId").val(0);
                $("#ClienteId").focus();
            });

            $('#rol_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });
           
            $('#cliente_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            function renderizarRolesIniciales()
            {

                if (rolesSeleccionados == null)
                {
                    return;
                }

                // recorremos los roles que haya ingresado el administrador
                for (var i = 0; i < rolesSeleccionados.length; i++)
                {
                    var id = rolesSeleccionados[i];
                    var nombre = $('#RolId option[value=' + id + ']').text()

                    cargaRol(id, nombre);
                }
            }

            function renderizarClientesIniciales()
            {

                if (clientesSeleccionados == null)
                {
                    return;
                }

                // recorremos los clientes que haya ingresado el administrador
                for (var i = 0; i < clientesSeleccionados.length; i++)
                {
                    var id = clientesSeleccionados[i];
                    var nombre = $('#ClienteId option[value=' + id + ']').text()

                    cargaCliente(id, nombre);
                }
            }
        });

    </script>
}






