﻿@model Index.Aduana.Entities.Cuenta

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Nombre<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre de la Cuenta", required = "required", autocomplete = "off", autofocus = "autofocus" })
        </div>
        <div class="form-group">
            <label class="control-label">
                Descripci&oacute;n<span class="symbol required"></span>
            </label>
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Descripción de la Cuenta", required = "required", autocomplete = "off" })
        </div>
    </div>
</div>

