﻿@model Index.Aduana.Entities.Formula

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Producto<span class="symbol required"></span>
            </label>
            @Html.DropDownList("ProductoId", (SelectList)ViewBag.Productos, "--Seleccione un Producto--", new { @class = "form-control search-select required", @tabindex = 1 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>Materias Primas</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Materia
            </label>
            @Html.DropDownList("MateriaId", (SelectList)ViewBag.Materias, "--Seleccione una Materia Prima--", new { @class = "form-control search-select", @tabindex = 2 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Cantidad
            </label>
            <input type="number" placeholder="Cantidad" class="form-control" id="Cantidad" name="Cantidad" value="0" autocomplete="off" tabindex="3" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Cantidad Merma
            </label>
            <input type="number" placeholder="Cantidad Merma" class="form-control" id="CantidadMerma" name="CantidadMerma" value="0" autocomplete="off" tabindex="4" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="text-align:right"><button type="button" class="demo btn btn-blue" id="btn-agregar">Agregar</button></p>
        <table class="table table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Cantidad</th>
                    <th>Cantidad Merma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="materia_tbody"></tbody>
        </table>
    </div>
</div>

