﻿@model Index.Aduana.Entities.Formula

@{
    ViewBag.Title = "Nueva Formula";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Nueva Formula
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h2><i class="icon-edit-sign teal"></i> Nueva Formula</h2>
                <p>
                    Crea una nueva formula.
                </p>
                <hr>
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>                        
                    </div>
                    @Html.Partial("_CreateOrEdit")                    
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                                <button data-style="slide-down" class="btn btn-med-grey btn-block ladda-button" type="submit" tabindex="13">
                                    <span class="ladda-label"> Aceptar </span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-progress" style="width: 0px;"></span>
                                </button>
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Formula")" tabindex="14">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/mustache.js"></script>
    <script type="text/html" id="materia_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>{{cantidad}}</td>
            <td>{{cantidad_merma}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="materiaIds" value="{{id}}" />
                <input type="hidden" name="cantidadIds" value="{{cantidad}}" />
                <input type="hidden" name="cantidadMermaIds" value="{{cantidad_merma}}" />
            </td>
        </tr>
    </script>

    <script type="text/javascript">

        var materiaSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.materiaIds))');
        var cantidadSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.cantidadIds))');
        var cantidadMermaSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.cantidadMermaIds))');

        $(function ()
        {

            function error(texto)
            {
                toastr.error(texto);
            }

            function cargaMateria(id, nombre, cantidad, cantidad_merma)
            {
                var plantilla = $('#materia_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre,
                    cantidad: cantidad,
                    cantidad_merma: cantidad_merma
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#materia_tbody').append(filaHtml);
            }

            renderizarMateriasIniciales();

            $('#btn-agregar').click(function (e)
            {
                e.preventDefault();

                var id = $('#MateriaId').val()
                var nombre = $('#MateriaId option:selected').text()

                if (id === "")
                {
                    error("Seleccione una materia prima");
                    return;
                }

                if (nombre === "")
                {
                    error("Seleccione una materia prima");
                    return;
                }

                var cantidad = $('#Cantidad').val()

                if (cantidad === "")
                {
                    error("Ingrese la cantidad de materia prima");
                    return;
                }

                var cantidad_merma = $('#CantidadMerma').val()

                if (cantidad_merma === "")
                {
                    error("Ingrese la cantidad merma de materia prima");
                    return;
                }

                cargaMateria(id, nombre, cantidad, cantidad_merma);

                $("#MateriaId").val(0);
                $("#Cantidad").val("0");
                $("#CantidadMerma").val("0");
                $("#MateriaId").focus();

            });

            $('#materia_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            function renderizarMateriasIniciales()
            {
                if (materiaSeleccionados == null)
                {
                    return;
                }

                // recorremos las materias que haya ingresado el usuario
                for (var i = 0; i < materiaSeleccionados.length; i++)
                {
                    var id = materiaSeleccionados[i];
                    var nombre = $('#MateriaId option[value=' + id + ']').text();
                    var cantidad = cantidadSeleccionados[i];
                    var cantidad_merma = cantidadMermaSeleccionados[i];

                    cargaMateria(id, nombre, cantidad, cantidad_merma);
                }
            }
        });

    </script>
}
