﻿@model Index.Aduana.Entities.Formula

@{
    ViewBag.Title = "Detalle de la Formula";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Formula
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">              
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                        <input type="hidden" id="FormulaId" name="FormulaId" value="@Html.Raw(Model.FormulaId)" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Producto
                                </label>
                                <br />
                                <strong>
                                    @(Model.Producto == null ? "No Disponible" : Model.Producto.Nombre)
                                </strong>
                            </div>
                        </div>
                    </div>                    
                    <h2>
                        <i class="icon-edit-sign teal"></i>
                        <label class="control-label">
                            Materia Prima
                        </label>
                    </h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Materia</th>
                                        <th>Cantidad</th>
                                        <th>Cantidad Merma</th>                                                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Detalles != null && Model.Detalles.Count() > 0)
                                    {
                                        foreach (var Materia in Model.Detalles)
                                        {
                                            <tr>
                                                <td>
                                                    @(Materia.Materia == null ? "No Disponible" : Materia.Materia.Nombre)
                                                </td>
                                                <td>
                                                    @Materia.Cantidad
                                                </td>
                                                <td>
                                                    @Materia.CantidadMerma
                                                </td>  
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3">
                                                <strong>No contiene materias primas</strong>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Formula")">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>

            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

