﻿@model Index.Aduana.Entities.Producto

@{
    ViewBag.Title = "Detalle del Producto";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Producto
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">              
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                        <input type="hidden" id="ProductoId" name="ProductoId" value="@Html.Raw(Model.ProductoId)" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    C&oacute;digo
                                </label>
                                <br />
                                <strong>
                                    @Model.Codigo
                                </strong>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Nombre
                                </label>
                                <br />
                                <strong>
                                    @Model.Nombre
                                </strong>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Descripci&oacute;n
                                </label>
                                <br />
                                <strong>
                                    @Model.Descripcion
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Barra
                                </label>
                                <br />
                                <strong>
                                    @Model.Barra
                                </strong>
                            </div>   
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Partida
                                </label>
                                <br />
                                <strong>
                                    @Model.Partida
                                </strong>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <i class="icon-edit-sign teal"></i>
                        <label class="control-label">
                            Materia Prima
                        </label>
                    </h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>C&oacute;digo</th>
                                        <th>Nombre</th>
                                        <th>Unidad</th>
                                        <th>Barra</th>
                                        <th>Partida</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Materias != null && Model.Materias.Count() > 0)
                                    {
                                        foreach (var Materia in Model.Materias)
                                        {
                                            <tr>
                                                <td>
                                                    @Materia.Materia.Codigo
                                                </td>
                                                <td>
                                                    @Materia.Materia.Nombre
                                                </td>
                                                <td>
                                                    @(Materia.Materia.Unidad == null ? "No Disponible" : Materia.Materia.Unidad.Nombre)
                                                </td>                                             
                                                <td>
                                                    @Materia.Materia.Barra
                                                </td>
                                                <td>
                                                    @Materia.Materia.Partida
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <strong>No contiene materias primas</strong>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Producto")">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>

            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

