﻿@model Index.Aduana.Entities.Producto

@{
    ViewBag.Title = "Editar Producto";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Editar Producto
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h2><i class="icon-edit-sign teal"></i> Editar Producto</h2>
                <p>
                    Editar un producto.
                </p>
                <hr>
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                        <input type="hidden" id="ProductoId" name="ProductoId" value="@Html.Raw(Model.ProductoId)" />
                    </div>
                    @Html.Partial("_CreateOrEdit")
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                                <button data-style="slide-down" class="btn btn-med-grey btn-block ladda-button" type="submit" tabindex="13">
                                    <span class="ladda-label"> Aceptar </span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-progress" style="width: 0px;"></span>
                                </button>
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Producto")" tabindex="14">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/mustache.js"></script>
    <script type="text/html" id="materia_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="materiaIds" value="{{id}}" />
            </td>
        </tr>
    </script>

    <script type="text/javascript">

        var materiaSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.materiaIds))');

        $(function ()
        {

            function error(texto)
            {
                toastr.error(texto);
            }

            function cargaMateria(id, nombre)
            {
                var plantilla = $('#materia_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#materia_tbody').append(filaHtml);
            }

            renderizarMateriasIniciales();

            $('#btn-agregar').click(function (e)
            {
                e.preventDefault();

                var id = $('#MateriaId').val()
                var nombre = $('#MateriaId option:selected').text()

                if (id === "")
                {
                    error("Seleccione una materia prima");
                    return;
                }

                if (nombre === "")
                {
                    error("Seleccione una materia prima");
                    return;
                }

                cargaMateria(id, nombre);

                $("#MateriaId").val(0);
                $("#MateriaId").focus();
            });

            $('#materia_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            function renderizarMateriasIniciales()
            {
                if (materiaSeleccionados == null)
                {
                    return;
                }

                // recorremos las materias que haya ingresado el usuario
                for (var i = 0; i < materiaSeleccionados.length; i++)
                {
                    var id = materiaSeleccionados[i];
                    var nombre = $('#MateriaId option[value=' + id + ']').text();

                    cargaMateria(id, nombre);
                }
            }
        });

    </script>
}
