﻿@model Index.Aduana.Entities.Persona

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Nit
            </label>
            @Html.TextBoxFor(model => model.Nit, new { @class = "form-control", @placeholder = "Nit de la Persona", autocomplete = "off", autofocus = "autofocus", @tabindex = 1 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Nombre<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre de la Persona", required = "required", autocomplete = "off", @tabindex = 2 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Direcci&oacute;n<span class="symbol required"></span>
            </label>
            @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección de la Persona", required = "required", autocomplete = "off", @tabindex = 3 })
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-md-6">   
        <div class="form-group">
            <label class="control-label">
                Local
            </label>
            <div>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="true" @ViewBag.LocalSi name="local" id="LocalSi" tabindex="4">
                    Sí
                </label>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="false" @ViewBag.LocalNo name="local" id="LocalNo" tabindex="5">
                    No
                </label>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Observaciones
            </label>
            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @placeholder = "Observaciones", autocomplete = "off", @tabindex = 6 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>No. Telef&oacute;nicos</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Tipo de Telefono
            </label>
            @Html.DropDownList("TelefonoTipoId", (SelectList)ViewBag.TelefonoTipos, "--Seleccione un Tipo de Telefono--", new { @class = "form-control search-select", @tabindex = 7 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                No. de Telefono
            </label>            
            <input type="text" placeholder="No. de Telefono" class="form-control input-mask-phone" id="Telefono" name="Telefono" autocomplete="off" tabindex="8" />
        </div>  
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="text-align:right"><button type="button" class="demo btn btn-blue" id="btn-agregar" tabindex="9">Agregar</button></p>
        <table class="table table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th>Tipo de Telefono</th>
                    <th>No. de Telefono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="telefono_tbody"></tbody>
        </table>
    </div>
</div>
