﻿@model Index.Aduana.Entities.Persona

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                Nit
            </label>
            @Html.TextBoxFor(model => model.Nit, new { @class = "form-control", @placeholder = "Nit de la Persona", autocomplete = "off", autofocus = "autofocus", @tabindex = 1 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Nombre<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre de la Persona", required = "required", autocomplete = "off", @tabindex = 2 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Direcci&oacute;n<span class="symbol required"></span>
            </label>
            @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección de la Persona", required = "required", autocomplete = "off", @tabindex = 3 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Representante Legal
            </label>
            @Html.TextBoxFor(model => model.RepresentanteLegal, new { @class = "form-control", @placeholder = "Representante Legal", autocomplete = "off", @tabindex = 4 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                C&oacute;digo
            </label>
            @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control", @placeholder = "Código de la Persona", autocomplete = "off", @tabindex = 5 })
        </div>
        <div class="form-group">
            <label class="control-label">
                C&oacute;digo Exportador
            </label>
            @Html.TextBoxFor(model => model.CodigoExportador, new { @class = "form-control", @placeholder = "Código de Exportador", autocomplete = "off", @tabindex = 7 })
        </div>
        <div class="form-group">
            <label class="control-label">
                R&eacute;gimen Calificaci&oacute;n
            </label>
            @Html.TextBoxFor(model => model.RegimenCalificacion, new { @class = "form-control", @placeholder = "Régimen Calificación", autocomplete = "off", @tabindex = 9 })
        </div>   
        <div class="form-group">
            <label class="control-label">
                Fecha Resoluci&oacute;n
            </label>
            <div class="input-group">
                <input type="text" data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker" id="FechaResolucion" name="FechaResolucion" autocomplete="off" value="@(Model != null ? (Model.FechaResolucion != null ? Model.FechaResolucion.Value.ToString("yyyy-MM-dd") : "") : "")" tabindex="11">
                <span class="input-group-addon"> <i class="icon-calendar"></i> </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">
                Local
            </label>
            <div>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="true" @ViewBag.LocalSi name="local" id="LocalSi" tabindex="13">
                    Sí
                </label>
                <label class="radio-inline">
                    <input type="radio" class="grey" value="false" @ViewBag.LocalNo name="local" id="LocalNo" tabindex="14">
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                C&oacute;digo Importador
            </label>
            @Html.TextBoxFor(model => model.CodigoImportador, new { @class = "form-control", @placeholder = "Código de Importador", autocomplete = "off", @tabindex = 6 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Resoluci&oacute;n Calificaci&oacute;n
            </label>
            @Html.TextBoxFor(model => model.ResolucionCalificacion, new { @class = "form-control", @placeholder = "Resolución Calificación", autocomplete = "off", @tabindex = 8 })
        </div>
        <div class="form-group">
            <label class="control-label">
                Periodo Fiscal
            </label>
            @Html.TextBoxFor(model => model.PeriodoFiscal, new { @class = "form-control", @placeholder = "Periodo Fiscal", autocomplete = "off", @tabindex = 10 })
        </div>   
        <div class="form-group">
            <label class="control-label">
                Fecha Vencimiento
            </label>
            <div class="input-group">
                <input type="text" data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker" id="FechaVencimiento" name="FechaVencimiento" autocomplete="off" value="@(Model != null ? (Model.FechaVencimiento != null ? Model.FechaVencimiento.Value.ToString("yyyy-MM-dd") : "") : "")" tabindex="12">
                <span class="input-group-addon"> <i class="icon-calendar"></i> </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Observaciones
            </label>
            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @placeholder = "Observaciones", autocomplete = "off", @tabindex = 15 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>No. Telef&oacute;nicos</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Tipo de Telefono
            </label>
            @Html.DropDownList("TelefonoTipoId", (SelectList)ViewBag.TelefonoTipos, "--Seleccione un Tipo de Telefono--", new { @class = "form-control search-select", @tabindex = 17 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">
                No. de Telefono
            </label>            
            <input type="text" placeholder="No. de Telefono" class="form-control input-mask-phone" id="Telefono" name="Telefono" autocomplete="off" tabindex="18" />
        </div>  
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="text-align:right"><button type="button" class="demo btn btn-blue" id="btn-agregar" tabindex="19">Agregar</button></p>
        <table class="table table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th>Tipo de Telefono</th>
                    <th>No. de Telefono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="telefono_tbody"></tbody>
        </table>
    </div>
</div>
<div id="Cuenta">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="icon-edit-sign teal"></i>Cuentas</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">
                    Cuenta
                </label>
                @Html.DropDownList("CuentaId", (SelectList)ViewBag.Cuentas, "--Seleccione una Cuenta--", new { @class = "form-control search-select", @tabindex = 20 })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:right"><button type="button" class="demo btn btn-blue" id="btn-agregar-cuenta" tabindex="19">Agregar</button></p>
            <table class="table table-hover" id="sample-table-1">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cuenta_tbody"></tbody>
            </table>
        </div>
    </div>
</div>
