﻿@model Index.Aduana.Entities.Persona

@{
    ViewBag.Title = "Nuevo Cliente";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Nuevo Cliente
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h2><i class="icon-edit-sign teal"></i> Nuevo Cliente</h2>
                <p>
                    Crea un nuevo cliente.
                </p>
                <hr>
                <form action="" role="form" id="formaprincipal" name="formaprincipal" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @if (ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Error</h4>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>                        
                    </div>
                    @Html.Partial("_CreateOrEdit")                    
                    <div class="row">
                        <p>
                            <div class="col-md-6">
                                <button data-style="slide-down" class="btn btn-med-grey btn-block ladda-button" type="submit" tabindex="19">
                                    <span class="ladda-label"> Aceptar </span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-progress" style="width: 0px;"></span>
                                </button>
                            </div>
                        </p>
                        <p>
                            <div class="col-md-6">
                                <a class="btn btn-med-grey btn-block" href="@Url.Action("Index", "Cliente")" tabindex="20">
                                    Regresar <i class="icon-prev"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/mustache.js"></script>
    <script type="text/html" id="telefono_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>{{telefono}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="tiposIds" value="{{id}}" />
                <input type="hidden" name="telefonosIds" value="{{telefono}}" />
            </td>
        </tr>
    </script>
    <script type="text/html" id="cuenta_tr_template">
        <tr>
            <td>{{nombre}}</td>
            <td>
                <a href="javascript:void(0)" title="Eliminar" class="btn btn-eliminar"><i class="clip-remove"></i></a>
                <input type="hidden" name="cuentasIds" value="{{id}}" />
            </td>
        </tr>
    </script>

    <script type="text/javascript">

        var tiposSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.tiposIds))');
        var telefonosSeleccionados = JSON.parse('@Html.Raw(Json.Encode(ViewBag.telefonosIds))');
        var cuentasSeleccionadas = JSON.parse('@Html.Raw(Json.Encode(ViewBag.cuentasIds))');

        $(function () {            

            function error(texto)
            {
                toastr.error(texto);
            }

            function cargaTelefono(id, nombre, telefono)
            {
                var plantilla = $('#telefono_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre,
                    telefono: telefono
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#telefono_tbody').append(filaHtml);
            }

            function cargaCuenta(id, nombre)
            {
                var plantilla = $('#cuenta_tr_template').html();

                var modelo =
                {
                    id: id,
                    nombre: nombre
                };

                var filaHtml = Mustache.render(plantilla, modelo);

                // agregamos la nueva fila a la tabla.
                $('#cuenta_tbody').append(filaHtml);
            }

            renderizarTelefonosIniciales();
            renderizarCuentasIniciales();

            $('#btn-agregar').click(function (e)
            {
                e.preventDefault();

                var id = $('#TelefonoTipoId').val()
                var nombre = $('#TelefonoTipoId option:selected').text()

                if (id === "")
                {
                    error("Seleccione un tipo de telefono");
                    return;
                }

                if (nombre === "")
                {
                    error("Seleccione un tipo de telefono");
                    return;
                }

                var telefono = $('#Telefono').val()

                if (telefono === "")
                {
                    error("Ingrese un número de teléfono");
                    return;
                }

                cargaTelefono(id, nombre, telefono);

                $("#TelefonoTipoId").val(0);
                $("#Telefono").val("");
                $("#TelefonoTipoId").focus();

            });

            $('#btn-agregar-cuenta').click(function (e)
            {
                e.preventDefault();

                var id = $('#CuentaId').val()
                var nombre = $('#CuentaId option:selected').text()

                if (id === "")
                {
                    error("Seleccione una cuenta");
                    return;
                }

                if (nombre === "")
                {
                    error("Seleccione una cuenta");
                    return;
                }

                cargaCuenta(id, nombre);

                $("#CuentaId").val(0);
                $("#CuentaId").focus();

            });

            $('#telefono_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            $('#cuenta_tbody').delegate("a", "click", function (e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            function renderizarTelefonosIniciales()
            {
                if (tiposSeleccionados == null)
                {
                    return;
                }

                // recorremos los telefonos que haya ingresado el usuario
                for (var i = 0; i < tiposSeleccionados.length; i++)
                {
                    var id = tiposSeleccionados[i];
                    var nombre = $('#TelefonoTipoId option[value=' + id + ']').text();
                    var telefono = telefonosSeleccionados[i];

                    cargaTelefono(id, nombre, telefono);
                }
            }

            function renderizarCuentasIniciales()
            {
                if (cuentasSeleccionadas == null)
                {
                    return;
                }

                // recorremos las cuentas que haya ingresado el usuario
                for (var i = 0; i < cuentasSeleccionadas.length; i++)
                {
                    var id = cuentasSeleccionadas[i];
                    var nombre = $('#CuentaId option[value=' + id + ']').text();

                    cargaCuenta(id, nombre);
                }
            }
        });

    </script>
}
