﻿@model PagedList.IPagedList<Index.Aduana.Entities.Persona>
@using PagedList.Mvc;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Clientes - Index S.A.</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Index" name="description" />
    <meta content="R&M" name="author" />
    <!-- end: META -->
    <!--Plantillas CSS-->
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/iCheck/skins/all.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme_dark.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--Fin de Plantillas CSS-->

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="login example1">
    <div class="main-login col-sm-4 col-sm-offset-4">
        <div class="logo">
            Clientes - Index S.A.<i class="clip-key-2"></i>
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login">           
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="get" class="form-inline">
                        <div class="input-group well">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Buscar.." value="@Html.Raw(ViewBag.Search)" autocomplete="off" style="margin-bottom: 1px;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="clip-search-3"></i> Buscar
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- start: BASIC TABLE PANEL -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="icon-external-link-sign"></i>
                            Clientes
                            <div class="panel-tools">
                                <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                                </a>
                                <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                                    <i class="icon-resize-full"></i>
                                </a>
                                <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                                    <i class="icon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover" id="sample-table-1">
                                <thead>
                                    <tr>                                        
                                        <th>Nombre</th>                                       
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Persona in Model)
                                    {
                                        <tr>                                            
                                            <td>@Persona.Nombre</td>  
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: BASIC TABLE PANEL -->
                </div>
            </div>

            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { search = ViewBag.Search, page }))
        </div>
        <!-- end: LOGIN BOX -->
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            2016 © - Index S.A.
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!--Inicio de Script-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/login.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript">
        $(function () {
            Main.init();
            Login.init();
        });
    </script>
    <script src="~/Scripts/ladda.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#formaprincipal").submit(function (e) {
                var form = $("#formaprincipal");
                form.validate();
                if (form.valid()) {
                    $("#loading").fadeIn();
                    var opts = {
                        lines: 12, // The number of lines to draw
                        length: 7, // The length of each line
                        width: 4, // The line thickness
                        radius: 10, // The radius of the inner circle
                        color: '#000', // #rgb or #rrggbb
                        speed: 1, // Rounds per second
                        trail: 60, // Afterglow percentage
                        shadow: false, // Whether to render a shadow
                        hwaccel: false // Whether to use hardware acceleration
                    };
                    var target = document.getElementById('loading');
                    var spinner = new Spinner(opts).spin(target);
                }
                else {
                    e.preventDefault();
                }
            });
        }
        );
    </script>
    <!--Fin del Inicio de Script-->

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Autenticando...
            </p>
        </div>
    </div>

</body>
</html>


