﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <title>Index S.A. - @ViewBag.Title</title>

    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Index" name="description" />
    <meta content="R&M" name="author" />
    <!-- end: META -->

    <!--Plantillas CSS-->
    <link href="~/Content/assets/plugins/select2/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/iCheck/skins/all.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme_dark.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />   
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet" />     
    <link href="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style type="text/css">
        .fancybox-custom .fancybox-skin 
        {
            box-shadow: 0 0 50px #222;
        }
    </style>


    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--Fin de Plantillas CSS-->

    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="@Url.Action("Dashboard", "Inicio")">                     
                    Index S.A.               
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                  
                    <!-- end: TO-DO DROPDOWN-->
                    <!-- start: NOTIFICATION DROPDOWN -->
                  
                    <!-- end: NOTIFICATION DROPDOWN -->
                    <!-- start: MESSAGE DROPDOWN -->
                   
                    <!-- end: MESSAGE DROPDOWN -->
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">@Session["Nombre"]</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </li>
                    <!-- end: USER DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">
                    <li class="active open">
                        <a href="@Url.Action("Dashboard", "Inicio")">
                            <i class="clip-home-3"></i>
                            <span class="title">Inicio</span><span class="selected"></span>
                        </a>
                    </li>
                    @{Html.RenderAction("Menu", "Seguridad");}
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: STYLE SELECTOR BOX -->
                        <div id="style_selector">
                         
                        </div>
                        <!-- end: STYLE SELECTOR BOX -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-home-3"></i>
                                <a href="@Url.Action("Dashboard", "Inicio")">
                                    Inicio
                                </a>
                            </li>
                            <li class="active">
                                @Session["Encabezado"]
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>@Session["Encabezado"] <small>@Session["SubEncabezado"]</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <noscript>El navegador debe soportar javascript!</noscript>
                @RenderBody()
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>

<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        2016 © - Index S.A.
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>
<!-- end: FOOTER -->

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Procesando...
        </p>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/form-elements.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
<script src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
<script src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
<script src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="~/Content/assets/js/main.js"></script>
<script src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
<script src="~/Content/assets/plugins/select2/select2.min.js"></script>
<script src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
<script src="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
<script src="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
<script src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
<script src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/form-validation.js"></script>
<script src="~/Content/assets/plugins/ladda-bootstrap/dist/spin.min.js"></script>
<script src="~/Content/assets/plugins/ladda-bootstrap/dist/ladda.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js"></script>
<script src="~/Content/assets/js/ui-buttons.js"></script>
<script src="~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="~/Content/assets/js/ui-modals.js"></script>
<script src="~/Content/assets/js/jquery.bootstrap-touchspin.js"></script>
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/data.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/jquery.numeric.js"></script>
<script type="text/javascript" src="~/Content/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript">

    $(function () {
        $("principal").each(function () {
            $(this).val() = "";
        });
    });

    $(function () {
        Main.init();
        FormElements.init();
    });
   
</script>

<script src="~/Scripts/ladda.min.js"></script>
<script src="~/Scripts/spin.min.js"></script>
<script type="text/javascript">
    $(function () {         
            $("#formaprincipal").submit(function (e) {
                var form = $("#formaprincipal");
                form.validate();
                if (form.valid()) {
                    $("#loading").fadeIn();
                    var opts = {
                        lines: 12, // The number of lines to draw
                        length: 7, // The length of each line
                        width: 4, // The line thickness
                        radius: 10, // The radius of the inner circle
                        color: '#000', // #rgb or #rrggbb
                        speed: 1, // Rounds per second
                        trail: 60, // Afterglow percentage
                        shadow: false, // Whether to render a shadow
                        hwaccel: false // Whether to use hardware acceleration
                    };
                    var target = document.getElementById('loading');
                    var spinner = new Spinner(opts).spin(target);
                }
                else {
                    e.preventDefault();
                }
            });
        }
    );
</script>

@RenderSection("scripts", required: false)

</body>
</html>