﻿@if (Request.IsAuthenticated)
{
    <li>
        <a rel="" href="@Url.Action("ReiniciarPassword", "Seguridad", new { id = Index.Aduana.UI.App_Start.CustomHelper.getUserId() })">
            <i class="clip-key-2"></i>
            Reiniciar Password
        </a>
    </li>
    <li>
        <a rel="" href="javascript:document.getElementById('logoutForm').submit()">
            <i class="clip-exit"></i>
            Salir
        </a>  
    </li>
   
    using (Html.BeginForm("LogOff", "Seguridad", FormMethod.Post, new { id = "logoutForm" })) 
    {
            @Html.AntiForgeryToken()            
    }
} 
else 
{    
    @Html.ActionLink("Ingresar", "Login", "Seguridad", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
