﻿@model IEnumerable<Index.Aduana.Entities.Menu>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>

            @if (string.IsNullOrWhiteSpace(item.Action) && string.IsNullOrWhiteSpace(item.Controller))
            {
                <a href="javascript:void(0)">
                    <span class="title"> @(item.Titulo) </span><i class="icon-arrow"></i>
                    <span class="selected"></span>
                </a>
            }
            else
            {
                <a href="@Url.Action(item.Action, item.Controller)">
                    <span class="title">@item.Titulo</span>
                </a>
            }           

            @if (item.Items != null)
            {
                <ul class="sub-menu">
                    @Html.Partial("_SubMenu", item.Items)
                </ul>
            }
            
        </li>
    }
}
