﻿@model PagedList.IPagedList<Index.Aduana.Entities.Pais>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Pais Listado";
}

<div class="row">
    <div class="col-md-12">
        <form action="" method="get" class="form-inline">
            <div class="input-group well">
                <input type="text" class="form-control" id="search" name="search" placeholder="Buscar.." value="@Html.Raw(ViewBag.Search)" autocomplete="off" style="margin-bottom: 1px;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="clip-search-3"></i> Buscar
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-external-link-sign"></i>
                Pais
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="javascript:void(0)">
                    </a>
                    <a class="btn btn-xs btn-link panel-expand" href="javascript:void(0)">
                        <i class="icon-resize-full"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-close" href="javascript:void(0)">
                        <i class="icon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="sample-table-1">
                    <thead>
                        <tr>
                            <th>Nombre</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Pais in Model)
                        {
                            <tr>
                                <td>@(Pais.PaisPadreId == null ? Pais.Nombre : string.Format("{0} - (Capital)", Pais.Nombre))</td>     
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>
</div>

Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { search = ViewBag.Search, page }))



