﻿@model Index.Aduana.Entities.Aduana

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Nombre<span class="symbol required"></span>
            </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre de la Aduana", required = "required", autocomplete = "off", autofocus = "autofocus" })
        </div>
        <div class="form-group">
            <label class="control-label">
                Direcci&oacute;n<span class="symbol required"></span>
            </label>
            @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección de la Aduana", required = "required", autocomplete = "off" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><i class="icon-edit-sign teal"></i>Paises</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">
                Pais<span class="symbol required"></span>
            </label>
            @Html.DropDownList("PaisId", (SelectList)ViewBag.Paises, "--Seleccione un Pais--", new { @class = "form-control search-select required" })
        </div>
    </div>
</div>

